@model ESchool.Web.ViewModels.Parents.ParentViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Име
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
           Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            USerId
        </dt>
        <dd class="col-sm-10">
            @Model.UserId
        </dd>

    </dl>
</div>
<div>
    <a asp-controller="Dashboard" asp-action="MyCourse">Back to List</a>
</div>