@model ESchool.Web.ViewModels.Grades.GradeCreateInputViewModel
@{
    ViewData["Title"] = "Create";
    var teachers = Model.Teachers.Where(x => x.HasGrade == false)
        .Select(x => new SelectListItem(x.FullNameAndSubject, x.Id.ToString()));
}

<h1>Create</h1>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Issue" class="control-label"></label>
        <input asp-for="Issue" class="form-control" />
        <span asp-validation-for="Issue" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TeacherId" class="control-label"></label>
        <select asp-for="TeacherId" class="form-control" asp-items=teachers></select>
        <span asp-validation-for="TeacherId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

