@using ESchool.Common
@model ESchool.Web.ViewModels.Teachers.IndexTeacherViewModel
@{
    this.ViewData["Title"] = "Teacher dashboard";
}




    <div class="container-fluid">

        <div class="text-center">


            <h1 class="display-4">Hello @Model.FullName</h1>

            <h1> </h1>

            <h1 class="mb-0 mx-auto">Welcome to @GlobalConstants.SystemName!</h1>

            <h1> </h1>



            <p class="lead text-gray-800 mb-5">Username : @Model.UserUserName</p>

        </div>



        @*Content Row*@
        <div class="row">

            <div class="col-lg-6">

                <div class="card position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Courses Manage</h6>
                    </div>
                    <div class="card-body">
                        <div class="small mb-1">Dropdown Button</div>

                        <div class="dropdown mb-4">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                            </button>
                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="All">All Courses</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="card position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">My Course</h6>
                    </div>
                    <div class="card-body">
                        <div class="small mb-1">Dropdown Button</div>
                        <div class="dropdown mb-4">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Courses
                            </button>
                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" asp-controller="Dashboard" asp-action="MyCourse">My Course</a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>



        </div>

    </div>

