@model ESchool.Web.ViewModels.Teachers.TeacherCreateInputModel
@{
    ViewData["Title"] = "Create";
    var subjects = Model.Subjects.Select(x => new SelectListItem(x.Description, x.Id.ToString())).ToList();
}

<h1>Create</h1>


<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
  
    <div class="form-group">
        <label asp-for="SubjectId" class="control-label"></label>
        <select asp-for="SubjectId" class="form-control" asp-items=subjects></select>
        <span asp-validation-for="SubjectId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>



