@using ESchool.Common
@model ESchool.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
    //var num = 1;
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




