@model ESchool.Web.ViewModels.Attendances.AttendancesCreateViewModel

@{
    ViewData["Title"] = "Attendance";
}

<h1>Create</h1>

<h4>Attendance</h4>
<hr />

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>
<div class="row">
    <div class="col-md-9">
        <form asp-action="Create" method="post">
            <input hidden asp-for="StudentId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <textarea asp-for="Remark" class="form-control"></textarea>
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="StudentId" class="control-label"></label>
            <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
        </div>
        <div class="form-group">
            <label asp-for="TeacherId" class="control-label"></label>
            <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId"></select>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

