@model ESchool.Web.ViewModels.Administration.Users.UserViewModel
@{
    ViewData["Title"] = "Details";

    var result = string.Join(",", Model.Roles.Select(x => x.Name));
}

<h1>Details</h1>

<div class="container-fluid">

    <div>
        <h4>Course</h4>
        <dl class="row">

            <dt class="col-sm-2">
                Паралелка
            </dt>
            <dd class="col-sm-10">
                @Model.UserName
            </dd>
            <dt class="col-sm-2">
                Класен Ръководител
            </dt>
            <dd class="col-sm-10">
                @Model.CreatedOn
            </dd>
            <dd class="col-sm-10">
                @result
            </dd>
        </dl>
    </div>
 
</div>